@import '../../core';

form {
  text-align: center;
  padding: 10px;

  .url-input{
    margin: $gutter-md;
    width: 40%;
  }

  .go{
    border: none;
    border-radius: $round-border;
    background-color: $black;
    color: $white;
    height: 23px;
    width: 50px;

    &:hover{
      background-color: $accent-color;
      color: $black;
      transition: 350ms all;
    }
  }

  .rest-action{
    border: none;
    border-radius: $round-border;
    width: 75px;
    padding: 5px;
    margin: $gutter-md;
    background-color: $tertiary-color;

    &:hover{
      background-color: $accent-color;
      transition: 350ms all;
    }

    &:focus{
      background-color: $secondary-color;
      background-color: $accent-color;
    }
  }

  .query-parameters{
    margin: 10px;
    height: 100px;
    width: 60%;
  }
}
