form {
  text-align: center;
  padding: 10px;

  .rest-action{
    border: none;
    padding: 5px;
    margin: 10px;
    background-color: rgb(167, 167, 167);

    &:hover{
      background-color: rgb(216, 216, 216);
    }

    &:focus{
      background-color: rgb(216, 216, 216);
    }
  }
}

.output {
  border: rgb(173, 173, 173) solid 1px;
  background-color: rgb(228, 231, 231);
  // height: 400px;
  width: 90%;
  margin: auto;

  p{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
  }
}

