@import '../../core';

header {
  background-color: $black;
  color:$white;
  width: 100%;
  text-align: center;

  ul {
    li {
      display: inline-block;
      padding: $gutter;
      a{
        color: white;
        text-decoration: none;
        font-family: $secondary-font;
        font-size:40px;
      }
      a:hover{
        color: $accent-color;
        transition: 350ms all;
      }
    }
  }

}
