@import '../../core';

.history {
  border: $secondary-color solid 1px;
  border-radius: $round-border;
  background-color: $primary-color;
  margin-left: 10px;
  word-wrap: break-word;
  li{
    display: flex;
    border-bottom: $black 3px solid;
    margin-bottom: $gutter-md;
  }
  button{
    margin-bottom: $gutter-sm;
    margin-left: $gutter;
  }
}