@import '../../core';

.history {
  border: $secondary-color solid 1px;
  border-radius: $round-border;
  background-color: $primary-color;
  width: 95%;
  word-wrap: break-word;
  text-overflow: ellipsis;
  min-height: 400px;
  margin: 0 auto;

  div {
    height: 10%;
  }

  li{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-bottom: $black 3px solid;
    margin-top: $gutter-md;
    padding: 0 2px 0 1px;
  }

  span{
    font-size: 1.4vw;
  }

  button{
    margin-bottom: $gutter-sm;
    font-size: 1vw;
    border: 1px solid $accent-color;
    border-radius: $round-border;
    background-color: $black;
    color: $white;
    display: inline-flex;
    align-items: center; 

    &:hover{
      background-color: $accent-color;
      color: $black;
      transition: 350ms all;
    }
  }

}