#root{
  padding-bottom: 100px;
}

h1 {
  padding: $gutter-sm;
  font-family: $secondary-font;
  font-size: 100px;
  color: $accent-color;
}

h2 {
  padding: $gutter;
  font-family: $primary-font;
  font-size: 40px;
  background-color: $accent-color;
}

h3 {
  text-align: center;
  margin: $gutter-md;
  font-size: 20px;
  font-family: $primary-font;
  border-bottom: $black solid 1px;
  padding-bottom: 2%;
}

h4 {
  display: inline;
  width: 15%;
  margin: $gutter-md;
  font-size: $gutter;
  background-color: $accent-color;
  text-align: end;
  border-bottom: $black solid 3px;
}

h5{
  font-size: 30px;
  margin: $gutter;
}

h6{
  font-family: $primary-font;
  font-size: 30px;
  margin: $gutter;
  text-align: center;
}

p {
  margin: $gutter-md;
}

button {
  font-family: $primary-font;
}

.blink{
  animation:blink 1.5s infinite;
  @keyframes blink{
    0%{color: $accent-color;}
    49%{color: $accent-color;}
    60%{color: transparent;}
    99%{color:transparent;}
    100%{color: $accent-color;}
  }
}


.special-font{
  font-family: $secondary-font;
  font-size: 25px;
}

@media only screen and (max-width: 750px) {
  .history{
    button{
      max-height: 13.5px;
    }
  }
}